@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f7fa;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 80px auto;
  padding: 32px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
}

h1 {
  margin-top: 0;
  text-align: center;
}

.contador {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
}

.contador-valor {
  font-size: 64px;
  margin: 0 0 16px 0;
  font-weight: bold;
}

.contador-botao {
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: #61dafb;
  color: #000;
  font-weight: bold;
  margin-bottom: 10px;
}

.contador-botao:hover {
  background-color: #4fc3e6;
}


/* Lista Alunos */

.lista {
  margin-top: 40px;
}

.lista h2 {
  margin-bottom: 16px;
}

.lista-itens {
  list-style: none;
  padding: 0;
  margin: 0;
}

.lista-item {
  display: flex;
  justify-content: space-between;
  padding: 12px 16px;
  margin-bottom: 8px;
  background-color: #f1f5f9;
  border-radius: 6px;
}

.lista-item strong {
  font-weight: 600;
}

.lista-item span {
  color: #555;
}